<h1>Welcome to your Dashboard</h1>

<div>
  <h2>Hi, <%= current_user.name %>! Welcome to your dashboard!</h2>
</div>

<div>
  <h2>All the beloved furry babies you have on our network:</h2>
  <ul>
  <% current_user.pets.each do |pet| %>
  <li>
    <p><%= pet.name %>, <%= pet.description %></p>
    </li>
  <% end %>
</ul>
</div>

<div>
  <h2>Div of all my bookings</h2>
  <ul>
    <% all_bookings = Booking.where(user_id: current_user.id)%>
    <%= all_bookings.each do |booking| %>
    <li><%= booking.pet_id %>, <%= booking.start_date %></li>
  <% end %>
  </ul>

</div>
