<%= render 'shared/navbar' %>

<div class="row one">
   <!-- /.user-profile -->
  <div class="col-xs-12 col-sm-4">
    <div class="user-profile ">
      <%= image_tag "user.png", class: "profile-img" %>
      <h2><%= current_user.name %></h2>
    </div>
  </div>
  <!-- /.bookings -->
  <div class="col-xs-12 col-sm-8 ">
     <!-- /.your-bookings -->
    <div class="your-bookings">
      <h2>Your bookings</h2>
      <div class="row">
        <% @upcoming_bookings.each do |booking| %>
          <%= link_to pet_path(booking.pet) do %>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
              <div class="blog-card booking-card" style="background: url('<%= cl_image_path booking.pet.photo, height: 300, width: 400, crop: :fill %>');">
                <div class="title-content">
                  <h3><%= Pet.find(booking.pet_id).name %></h3>
                  <br>
                  <div class="intro">
                    <p><%= booking.start_date.to_formatted_s(:short) %><p>
                    <%= booking.status %>
                  </div>
                </div><!-- /.title-content -->
                <div class="card-info">

                  <%= link_to 'Edit', edit_pet_booking_path(booking), class: "btn show-btn" %>


                </div><!-- /.card-info -->

                <!-- overlays -->
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
              </div><!-- /.blog-card -->
            </div>
          <% end %>
          <% end %>
      </div>
    </div>

    <!-- /.your needed reviews -->
    <% unless @bookings_needing_review.empty? %>
    <div>
      <h2>Bookings that need your review:</h2>
      <div class="row">
        <% @bookings_needing_review.each do |booking| %>
          <%= link_to new_booking_review_path(booking) do %>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
              <div class="blog-card booking-card" style="background: url('<%= cl_image_path booking.pet.photo, height: 300, width: 400, crop: :fill %>');">
                <div class="title-content">
                  <h3><%= Pet.find(booking.pet_id).name %></h3>
                  <br>
                  <div class="intro">
                    <p><%= booking.start_date.to_formatted_s(:short)  %></p>
                    <p><%= booking.status %></p>

                    </div>
                </div><!-- /.title-content -->
                <div class="card-info">

                  <%= link_to 'Add Review', new_booking_review_path(booking), class: "btn show-btn" %>
                </div><!-- /.card-info -->
                <!-- overlays -->
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
              </div><!-- /.blog-card -->
            </div>
          <% end %>
          <% end %>
      </div>
    </div>
    <% end %>

    <!-- /.pet-booking-->
    <div class=" row pets-booking">
      <h2>Your Pets bookings</h2>
      <% @mypets.each do |pet|%>
      <% pet.bookings.each do |booking|  %>
      <%= link_to pet_path(booking.pet) do %>
        <div class="col-xs-12 col-sm-6 col-md-4 ">
          <div class="blog-card" style="background: url('<%= cl_image_path booking.pet.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="title-content">
              <h3><%= Pet.find(booking.pet_id).name %></h3>
              <br>
              <% if booking.status != "approved" %>
                <%= link_to 'Approve Booking', approved_booking_path(booking), class: "btn", method: :patch %>
                <% end %>
              <div class="intro">

                <p><%= booking.start_date.to_formatted_s(:short)  %></p>
                <p><%= booking.status %></p>

              </div>
            </div><!-- /.title-content -->
            <div class="card-info">

            </div><!-- /.card-info -->
            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
        </div>
      <% end %>
      <% end %>
      <% end %>
    </div>

  </div>
</div>
<div class="row my-pets">
  <h2>All your beloved furry babies</h2>
  <% current_user.pets.each do |pet| %>
    <%= link_to pet_path(pet) do %>
      <div class="col-xs-12 col-sm-3 ">
        <div class="blog-card" style="background: url('<%= cl_image_path pet.photo, height: 300, width: 400, crop: :fill %>');">
          <div class="title-content">
            <h3><%= pet.name %></h3>
            <div class="intro">
              <%= pet.description %>
            </div>
          </div><!-- /.title-content -->
          <div class="card-info">
           <%= link_to 'Edit', pet_path(pet), class: "btn show-btn" %>
          </div><!-- /.card-info -->
          <!-- overlays -->
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->
      </div>
    <% end %>
  <% end %>
