
<div class="container">
  <div>
    <h1>Hi, <%= current_user.name %>!</h1>
    <p>Welcome to your dashboard</p>
  </div>



  <div>
    <h2>Pets you've bookings</h2>
    <ul>
      <% all_bookings = Booking.where(user_id: current_user.id)%>
      <% all_bookings.each do |booking| %>
      <div class="card">
        <li>
          <p>You have booked:</p>
          <h4><%= Pet.find(booking.pet_id).name %></h4>
          <p>on: <%= booking.start_date.to_date %></p>
          <button><%= link_to 'Edit', edit_pet_booking_path(booking) %></button>
          <p> <%= booking.status %> </p>
        </li>
      </div>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Your Pets bookings</h2>
    <ul>
      <% @mypets.each do |pet|%>
      <% pet.bookings.each do |booking|  %>
      <div class="card">
        <li>
          <p>You have booked:</p>
          <h4><%= Pet.find(booking.pet_id).name %></h4>
          <p>on: <%= booking.start_date.to_date %></p>
          <button><%= link_to 'Edit', edit_pet_booking_path(booking) %></button>
          <p> <%= booking.status %> </p>
        </li>
      </div>
    <% end %>
    <% end %>
    </ul>
  </div>


  <div>
    <h2>All your beloved furry babies</h2>
    <div class="card"
    <% current_user.pets.each do |pet| %>
    <h4><%= pet.name %></h4>
    <img src="http://www.thedailyrecords.com/wp-content/uploads/2017/01/Beagle-Top-Most-Famous-Beautiful-Dogs-Breeds-2018.jpg" style=" width: 150px">
    <p><%= pet.description %></p>
    <button><%= link_to 'Edit', pet_path(pet), class: "btn" %></button>
    <% end %>
  </div>
</div>

</div>
