<h1>Welcome to your Dashboard</h1>
 <%= Booking.all%>

<% @bookings.each do |booking| %>
  <%= link_to booking_path(booking) do %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
       <p><%= booking.pet_id %></p>
       <p><%= booking.user_id %></p>
       <p><%= booking.start_date %></p>
       <p><%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
<% end %>
