<body>
  <div class="flexbox">

<!--         <h1 class="title">Search Results...</h1> -->
    <div class="container">
      <div class="row">
        <% @pets.each do |pet| %>
        <%= link_to pet_path(pet) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="blog-card" style="background: url('<%= cl_image_path pet.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="title-content">
              <h3><%= pet.name %></h3>
              <div class="intro"><%= pet.category %></div>
            </div><!-- /.title-content -->
            <div class="card-info">
              <%= pet.location %>
            </div><!-- /.card-info -->
            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div><!-- /.blog-card -->
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

      <div id="map">
      </div>
      </div>

      <!-- Gmaps js: building the map -->
      <script>
        function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap">
  </script>
</body>
</html>

