<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://wallpaperxyz.com/wp-content/uploads/Animals-Wallpapers-1920x1080-Full-HD-Free-Download-Wallpaperxyz.com-7.jpg');">
    <div class="banner-content">
      <%= image_tag "petpatlogo.png", height: 100 %>
      <p>Travel with your favorite buddies</p>
      <div class="search-bar">
        <%= form_tag pets_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find a pet"
          %>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <div class="flexbox">

        <!-- the list / map of pets -->
        <div class="row">
          <% @pets.each do |pet| %>
          <%= link_to pet_path(pet) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blog-card" style="background: url('<%= cl_image_path pet.photo, height: 300, width: 400, crop: :fill %>');">
              <div class="title-content">
                <h3><%= pet.name %></h3>
                <div class="intro"><%= pet.category %></div>
              </div><!-- /.title-content -->
              <div class="card-info">
                <%= pet.location %>
              </div><!-- /.card-info -->
              <!-- overlays -->
              <div class="gradient-overlay"></div>
              <div class="color-overlay"></div>
            </div><!-- /.blog-card -->
          </div>
          <% end %>
          <% end %>
        </div>

      <div id="map" data-markers="<%= @markers.to_json %>">
      </div>
      </div>
    </div>

    <%= content_for(:after_js) do %>
    <!-- Gmaps js: building the map -->
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <% end  %>
  </body>
  </html>

