<h1> <%= @pet.name %></h1>
<h3>Description:</h3>
    <p><%= @pet.description %></p>
    <p><%= @pet.category %></p>
    <p><%= @pet.location %></p>
    <p><%= link_to 'Destroy', pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?'} %></p>
    <%= link_to 'Book this pet', new_pet_booking_path(@pet) %>

<% @pet.bookings.each do |booking| %>
  <% booking.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  <% end %>
<% end %>

  <p><%= link_to 'Back', root_path %></p>
