
<div class="banner" style="background: url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2018%2F01%2Fgettyimages-459583554.jpg&w=1600&q=70'), height: 300, width: 400, crop: :fill %>');">

  <div class="banner-content">
  <h1> <%= @pet.name %></h1>

  </div>
</div>

<div class="content">
  <h2>Description:</h2>
<table>
  <tbody>

    <p>Description: <%= @pet.description %></p>
    <p>Category: <%= @pet.category %></p>
    <p>Location: <%=  @pet.location %></p>

    <p><%= link_to 'Destroy', pet_path(@pet), class: 'btn', method: :delete, data: { confirm: 'Are you sure?'} %></p>
    <%= link_to 'Book this pet', new_pet_booking_path(@pet), class: 'btn' %>

    <h2>Reviews</h2>

    <% @pet.bookings.each do |booking| %>
      <% booking.reviews.each do |review| %>
        <p>Description: <%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
  <% end %>
<% end %>

  <%= link_to 'Back', root_path, class: 'btn' %>

  </tbody>
</table>

</div>
