
<%= render 'shared/navbar' %>
<div class="banner" style="background-image: url('<%= cl_image_path @pet.photo, crop: :fill %>') ;">
  <div class="banner-content">
  </div>
</div>

<div class="content-pet">
  <div class="row col-md-offset-1">

    <div class="col-xs-12 col-md-5 ">
      <div class="pet-info">
        <h2> I'm <%= @pet.name %></h2>
        <br>
        <p>a <%= @pet.category %> living in <%=  @pet.location %></p>
        <br>
        <p><%= @pet.description %> </p>

        <div class="reviews">
          <h2>Reviews</h2>
          <% @pet.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
          <div class="review">
            <p><%= review.content %></p>
            <%review.rating.to_i.times do %>
            <i class="fas fa-star"></i>
            <% end %>
          </div>
           <% end %>
          <% end %>
        </div>
      </div>
    </div>


      <div class="col-xs-12 col-md-6 ">

        <div class="pet-booking">
          <%= link_to 'Back to pets', root_path, class: " btn show-btn" %>
          <h2> Make a booking</H2>


          <%= simple_form_for([@pet, @booking]) do |f| %>
          <%= f.error_notification %>
            <div class="form-inputs" id="pet-book">
              <%= f.input :start_date, required: true %>
              <%= f.input :end_date, required: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Book", class: " btn show-btn" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>


