<%= simple_form_for([@booking, @review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.button :submit,  'Add review', class: 'btn show-btn'%>
     <br>
     <br>
    <%= link_to 'Back', pets_path, class: "btn show-btn" %>
  </div>



<% end %>
